@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');body{
    background-color:rgb(184, 169, 180);
    font-family: "Open Sans",cursive;
}
.top {
    padding:0px  50px 50px 50px;
    text-align: center;
}
/*bottom*/
.bottom-alt-container{
    display:flex;
    padding: 0px 50px 50px 50px;
     background-color: grey;

}
.centered-text{
    text-align: center;
}
.bottom-item{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    width: 270px;
    height: 380px;    
}
/*footer*/
.footer{
    padding: 25px;
    text-align: center;
    color: bisque;
    background-color: black;
}